@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body{
    background-color: ghostwhite;
    font-family: 'Hubballi', cursive;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

header h1{
    text-align: center;
    font-size: bolder;
    margin: 10px;
}
header img{
    width: 80px;
}

.grid {
    width: 400px;
    height: 400px;
   /* border: 1px solid whitesmoke;*/
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    background-color: #D9931E;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.square{
    border: 1px solid whitesmoke;
    border-radius: 5px;
}
.mole{
    background-image: url(https://media.istockphoto.com/vectors/cute-cartoon-groundhod-vector-id645546840?k=6&m=645546840&s=612x612&w=0&h=9GfXJ-re4O0xWl1NoTBN5rVl5VM0gWlAOLsFYrMD0Fg=);
    background-repeat: no-repeat;
    background-size:cover;
    cursor:grab;
}


.game-info{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    margin: 10px;
    background-color: #D9931E;
    color: ghostwhite;
    padding: 10px;
    width: auto;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.displayScore{
    margin: 5px;
}
.displayTime{
    margin: 5px;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

button{
    width: 100px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: gainsboro;
    padding: 7px;
    cursor: pointer;
    font-weight: 600;
    font-size: large;
    font-family: 'Hubballi', cursive;
}

button:hover{
    background-color: ghostwhite;
    color: #333;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 600px) {
    .grid {
        width: 300px;
        height: 300px;
       /* border: 1px solid whitesmoke;*/
        display: grid;
        grid-template-columns: repeat(3, auto);
        margin: auto;
        background-color: #D9931E;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }

    .game-info{
        display: grid;
        grid-template-columns: repeat(4, auto);
        align-items: center;
        margin: 10px;
        background-color: #D9931E;
        color: ghostwhite;
        padding: 10px;
        width: auto;
        text-align: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
        border-radius: 5px;
    }
    .btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: 5px;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 5px;
        background-color: ghostwhite;
    }
    button{
        width: auto;
        background-color: #333;
        border: 1px solid #fff;
        border-radius: 5px;
        color: gainsboro;
        padding: 7px;
        cursor: pointer;
        font-weight: 400;
        font-size: small;
        font-family: 'Hubballi', cursive;
        margin: 5px;
    }
    button:hover{
        background-color: #D9931E;
        color: ghostwhite;
        transition: all 0.4s ease-in-out;
    }
    .mole{
        background-image: url(https://media.istockphoto.com/vectors/cute-cartoon-groundhod-vector-id645546840?k=6&m=645546840&s=612x612&w=0&h=9GfXJ-re4O0xWl1NoTBN5rVl5VM0gWlAOLsFYrMD0Fg=);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        cursor:grab;
    }
}